name: Github CD action

on:
  workflow_run:
    workflows: [ Github CI action ]
    types:
      - completed

jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - run: echo "Tests workflow is ${{ github.event.workflow_run.conclusion }}"
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download artifact
        id: download-artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          github_token: ${{secrets.GH_ACCESS_TOKEN}}
          # Optional, workflow file name or ID
          # If not specified, will be inferred from run_id (if run_id is specified), or will be the current workflow
          workflow: ci.yml
          workflow_conclusion: success
          name: build-file
          path: ./build
          if_no_artifact_found: fail
      - name: List entries
        run: ls -lah
      - name: Deploy built file to remote server
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{secrets.API_NODE_HOST}}
          username: ${{secrets.API_NODE_USER}}
          key: ${{secrets.API_NODE_PRIVATE}}
          script: |
            scp ./build ${{secrets.API_NODE_USER}}@${{secrets.API_NODE_HOST}}:~/todo



