name: Github CI action

on: # trigger workflow
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  setup:
    name: Setting up Node
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository ${{ github.repository }}
        uses: actions/checkout@v3
      - name: Set up NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --immutable

  # lint:
  #   needs: setup
  #   name: Linting code
  #   runs-on: ubuntu-latest
  #   steps:
  #     - run: yarn lint

  test :
    needs: setup
    name: Testing Code
    runs-on: ubuntu-latest
    steps:
       - run: yarn test


  build:
    needs: test
    name: Building Code
    runs-on: ubuntu-latest
    steps:
      - run: yarn build
      - name: Upload artifact to github runner
        uses: actions/upload-artifact@v3
        with:
          name: build-file
          path: |
            dist
            !dist/test/*
          retention-days: 3

