name: Github CI action

on: # trigger workflow
  push: 
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build : # job id
    name: Kill Build
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout repository ${{ github.repository }}
        uses: actions/checkout@v3
      - name: Use Node
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --immutable
      - name: Testing code
        run: yarn test
      - name: Building app
        run: yarn build
      - name: Upload artifact to github runner
        uses: actions/upload-artifact@v3
        with:
          name: build-file
          path: |
            dist
            !dist/test/*
          retention-days: 3
    
